
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding:0;
}
   body{
    height: 100vh;
    background-image: url(background.png);
    background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

nav ul {
display: flex;
align-items: center;
justify-content:space-around;
font-size: 30px;

}

ul li{
  list-style: none;
 color: rgb(194, 212, 227);
 font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.name {
color: rgb(128, 228, 228);
  padding-top: 140px;
  text-align: center;
 font-size:120px;
 font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight:bold;
  font-style: normal;
  text-shadow: 4px 4px 10px rgba(0, 255, 255, 0.5)
}



.tagline{
  color: rgb(194, 212, 227);
  text-align: center;
  font-size: 70px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
  

.start{
  text-align: center;
  margin: 20px;
  cursor: pointer;

}


.text{
  padding-top:80px ;
  color: rgb(128, 228, 228);
  font-size: 60px;
  text-align: center;
}

 level ul{
padding-top: 20px;
display: flex;
align-items: center;
justify-content:center;
gap: 30px;
font-size: 50px;
}

.start button{
  margin: 40px;
  height: 80px;
  width: 200px;
  font-size: 30px;
  border-radius: 15px;
  background-color:rgb(128, 228, 228);
  font-weight: bold;
  box-shadow: 0 8px 20px rgba(0, 255, 255, 0.4);
}
.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 19px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 255, 255, 0.2);
  text-align: left;
  z-index: 1000;
    width: 350px; 
    max-width: 90vw;
  
}

nav ul li {
  position: relative;
}

nav ul li:hover .dropdown {
  display: block;
}
